.media-library {
	padding: 1rem 1.8rem 0;
}

.media-library fieldset {
	margin: -0.5rem;
}

.image-preview {
	float: left;
	width: 200px;
	height: auto;
	margin: 0.5rem;
	background-color: #f4f4f4;
	border-radius: 3px;
	overflow: hidden;
}

.image-preview figure {
	width: 100%;
	height: 125px;
	margin: 0;
	padding: 0;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOTIgNjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDkyIDY0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+IDxkZWY+IDxzdHlsZT4gLnBhdGggeyBmaWxsOiAjMjgyODI4OyB9IDwvc3R5bGU+IDwvZGVmPjxwYXRoIGNsYXNzPSJwYXRoIiBkPSJNMCwwdjN2NTh2M2gzaDg2aDN2LTNWM1YwaC0zSDNIMHogTTYsNmg4MHYzNC44TDcwLjksMjguNmMtMS0wLjgtMi41LTAuOS0zLjYtMC4ybC0xNC4yLDkuOEwzMy45LDIyLjZjLTAuNi0wLjUtMS40LTAuNy0yLjItMC43Yy0wLjUsMC4xLTEsMC4yLTEuNCwwLjVMNiwzOS4yVjZ6IE01Myw4Yy00LjksMC05LDQuMS05LDlzNC4xLDksOSw5czktNC4xLDktOVM1Ny45LDgsNTMsOHogTTUzLDE0YzEuNywwLDMsMS4zLDMsM3MtMS4zLDMtMywzcy0zLTEuMy0zLTNTNTEuMywxNCw1MywxNHogTTMxLjksMjguN2wxOS4yLDE1LjZjMSwwLjgsMi41LDAuOSwzLjYsMC4ybDE0LjItOS44bDE3LjIsMTMuN1Y1OEg2VjQ2LjZMMzEuOSwyOC43eiIvPjwvc3ZnPg==') no-repeat 50% 50% / 50px auto;
}

.image-preview div {
	padding: 1rem;
}

.image-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-preview p {
	margin: 0;
}

.image-preview strong {
	float: left;
}

.image-preview span {
	display: block;
	padding-left: 45px;

	text-transform: capitalize;
}
