.field-medialibraryfield {
	position: relative;
	cursor: pointer;
}

.field-medialibraryfield:after {
	display: block;
	content: '';
	clear: both;
}

.field-medialibraryfield label {
	margin-bottom: 0
}

.field-medialibraryfield label:after {
	display: block;
	content: '';
	width: 40px;
	height: 20px;
	background: #f4f4f4 url('icons/folder-search.svg') no-repeat 50% 50% / auto 14px;

	position: absolute;
	bottom: 1px;
	right: 1px;
	z-index: 1;
}

.field-medialibraryfield input:not(:first-of-type) {
	display: none;
}

.field-medialibraryfield .caption {
	display: block;
	color: #222;
	margin: 5px 0;
	padding: 3px 0;
	opacity: 0.5;
}

.field-medialibraryfield .invalid .caption {
	opacity: 1;
	color: rgba(255,255,255,.7);
}

.field-medialibraryfield .invalid > p {
	margin-top: 1em;
}

.field-medialibraryfield .preview {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	background: #f4f4f4;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
}

.field-medialibraryfield .preview img,
.field-medialibraryfield .preview audio,
.field-medialibraryfield .preview video {
	display: block;
	width: auto;
	max-width: 100%;
	height: 130px;
	margin: 0 auto;
}

.primary .field-medialibraryfield .preview img,
.primary .field-medialibraryfield .preview video {
	height: 230px;
}

.field-medialibraryfield .preview audio {
	width: 100%;
	height: 50px;
}

.field-medialibraryfield .remove {
	display: inline-block;
	margin: 5px 0 1.5em;
}