/* Symphony override */
.field-medialibraryfield .column ul.tags {
	margin-bottom: 0;
}

form.media-library {
	padding: 1rem 1.8rem 0;
}

.media-library,
.media-library * {
	box-sizing: border-box;
}

.media-library fieldset {
	height: 100%;
}

/*
 *	Nav item changes
 */
.media-library-direct {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 0.5rem;
	background: url('icons/icon-login.svg') no-repeat 50% 50% / cover;

	position: relative;
	top: 0.5rem;
}

/*
 *	The upload area
 */
.media_library-upload,
.media_library-upload * {
	box-sizing: border-box;
}

.media_library-upload {
	height: 0;
    margin: 0 auto;
    padding: 0;
	overflow: auto;

	transition: all 300ms ease-out;
}

.media_library-upload.is-active {
	height: 390px;
	padding: 50px 0;
}

.media_library-upload button {
	display: block;
	margin: 20px auto 0;
}

.media_library-files .instance {
	transition: none;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	padding: 0 10px;
	border-top: 1px solid #b8b8b8;
	min-height: 31px;
}

.media_library-files .instance:first-of-type {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.media_library-files .queued {
	background: #fbfbfb;
	color: #dad6cf;
}

.media_library-files a:first-of-type {
	border: none !important;
	margin-top: 0 !important;
	color: rgba(63, 105, 165, 1) !important;
	-webkit-transition: color 0.15s ease-in 0.4s;
	transition: none;
}

.media_library-files .queued a:first-of-type {
	color: rgba(63, 105, 165, 0.5) !important;
}

.media_library-files .content {
	display: none;
}

.media_library-files header {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	padding: 8px 0 7px;
	border: none !important;
	position: static !important;
}

.media_library-files .error {
	border-color: #cc3311 !important;
	background: #eb6347;
}

.media_library-files .error header,
.media_library-files .error header a {
	color: rgba(255, 255, 255, 0.7);
}

.media_library-files .error a,
.media_library-files .error code {
	color: #fff;
}

/* Duplicator */
.media_library-drop {
	padding-bottom: 0;
	margin-top: -12px;
	margin-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.media_library-drop.empty {
	height: 0;
	border: 0;
}

.media_library-drop ol {
	margin: 0;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
	border-radius: 4px 4px 0 0;
}

.media_library-drop.empty ol {
	border: none;
	min-height: 0;
	margin: 0 1px;
}

.media_library-drop li:last-of-type {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/* Progress bar */
.media_library-progress {
	position: absolute;
	bottom: -1px;
	left: -10px;
	width: 2%;
	height: 4px;
	background: #4d78b4;
	opacity: 0;
	-webkit-transition: width 0.25s ease-in, opacity 0.25s ease-in 0.4s;
	-moz-transition: width 0.25s ease-in, opacity 0.25s ease-in 0.4s;
	transition: width 0.25s ease-in, opacity 0.25s ease-in 0.4s;
	z-index: 10000;
}

.queued .media_library-progress {
	opacity: 1;
}

/* Destructor */
.media_library-files .destructor {
	background-color: #f5f5f5;
	top: 0 !important;
	right: 0 !important;
	padding: 8px 10px 8px 0;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;

	position: absolute;
}

.media_library-files .destructor::before {
	content: '';
	display: block;
	width: 22px;
	height: 32px;
	position: absolute;
	top: 0;
	left: -22px;
	background-image: -webkit-linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 80%);
	background-image:    -moz-linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 80%);
	background-image:     -ms-linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 80%);
	background-image:      -o-linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 80%);
	background-image:         linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 80%);
}

.media_library-files .queued .destructor {
	position: absolute;
	background-color: #fbfbfb;
}

.media_library-files .queued .destructor::before {
	background-image: -webkit-linear-gradient(left, rgba(251, 251, 251, 0) 0%, rgba(251, 251, 251, 1) 80%);
	background-image:    -moz-linear-gradient(left, rgba(251, 251, 251, 0) 0%, rgba(251, 251, 251, 1) 80%);
	background-image:     -ms-linear-gradient(left, rgba(251, 251, 251, 0) 0%, rgba(251, 251, 251, 1) 80%);
	background-image:      -o-linear-gradient(left, rgba(251, 251, 251, 0) 0%, rgba(251, 251, 251, 1) 80%);
	background-image:         linear-gradient(left, rgba(251, 251, 251, 0) 0%, rgba(251, 251, 251, 1) 80%);
}

.media_library-files .error .destructor {
	color: rgba(255, 255, 255, 0.7) !important;
	background: #eb6347;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.media_library-files .error .destructor:hover {
	color: #fff !important;
}

.media_library-files .error .destructor::before {
	background-image: -webkit-linear-gradient(left, rgba(235, 99, 71, 0) 0%, rgba(235, 99, 71, 1) 80%);
	background-image:    -moz-linear-gradient(left, rgba(235, 99, 71, 0) 0%, rgba(235, 99, 71, 1) 80%);
	background-image:     -ms-linear-gradient(left, rgba(235, 99, 71, 0) 0%, rgba(235, 99, 71, 1) 80%);
	background-image:      -o-linear-gradient(left, rgba(235, 99, 71, 0) 0%, rgba(235, 99, 71, 1) 80%);
	background-image:         linear-gradient(left, rgba(235, 99, 71, 0) 0%, rgba(235, 99, 71, 1) 80%);
}

/* Drop area */
.media_library-droparea {
	position: relative;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.media_library-droparea.switch-method .media_library-droparea_column {
	transform: translateX(-100%);
}

.media_library-droparea_columns {
	display: flex;
    width: 200%;
}

.media_library-droparea_column {
	width: 50%;
    padding: 0 5px;

    transform: translateX(0%);

	transition: transform 250ms ease-out;
}

.media_library-droparea_toggle {
	position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.media_library-droparea_toggle p {
	width: calc(50% - 18px);
}

.media_library-droparea_toggle p:first-child {
	padding-right: 15px;
}

.media_library-droparea_toggle p:last-child {
	padding-left: 15px;
	text-align: right;
}

.media_library-droparea_toggle p i {
	display: block;
}

.media_library-droparea_toggle label {
	margin-bottom: 5px;
	cursor: pointer;

	font-weight: bold;
	line-height: 20px;
}

.media_library-droparea_toggle input,
.media_library-droparea_toggle span {
	display: block;
	width: 35px;
	height: 20px;

	position: absolute;
	top: 1px;
	left: 50%;
	transform: translateX(-50%);
}

.media_library-droparea_toggle input {
    width: 35px;
    height: 20px;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;

    -webkit-appearance: button;
    appearance: button;

    z-index: 2;
}

.media_library-droparea_toggle span {
	background-color: #f4f4f4;
	border-radius: 10px;
	box-shadow: 0 0 0 1px #e6e6e5 inset;
}

.media_library-droparea_toggle span:after {
	display: block;
	content: '';
	width: 16px;
	height: 16px;
	background-color: rgba(40, 40, 40, 0.8);
	border-radius: 50%;

	position: absolute;
	top: 2px;
	left: 2px;

	transform: translateX(0px);

	transition: transform 250ms ease-out;
}

.media_library-droparea_toggle input:checked + span:after {
	transform: translateX(15px);
}

/*
 *	no Uploads directory message
 */
.ml-empty-directory {
	width: 375px;
	max-width: 90%;
	margin: 50px auto;
	padding: 1.5rem;
	background: #f5f5f5;
    border: .1rem solid #e6e6e5;

	font-size: 127%;
	text-align: center;
}
/* @end */

/*
 *	The directory buttons
 */
.ml-directory-back,
.ml-subdirectory,
.ml-toggle-directories {
	height: 0;
	margin: 0;
	background-color: #f4f4f4;
	background-position: 10px 50%;
	background-size: 15px auto;
	background-repeat: no-repeat;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;

	transition: all 200ms ease-out;
}

.ml-subdirectory.expanded {
	height: 30px;
	margin: 0.5rem 0;
}

.ml-directory-back,
.ml-toggle-directories {
    height: 30px;
	margin: 0.5rem 0;
}

.ml-directory-back {
	background-image:  url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTcgMTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE3IDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzI4MjgyODt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQsNEgzLjVsMi4yLTIuM2MwLjQtMC40LDAuNC0xLDAtMS40cy0xLTAuNC0xLjQsMGwtNCw0Yy0wLjQsMC40LTAuNCwxLDAsMS40bDQsNGMwLjQsMC40LDEsMC40LDEuNCwwczAuNC0xLDAtMS40TDMuNSw2SDE0YzAuNiwwLDEsMC40LDEsMWMwLDAsMCwwLDAsMC4xVjExYzAsMC42LDAuNCwxLDEsMWMwLjYsMCwxLTAuNCwxLTFWNy4xQzE3LDUuNCwxNS43LDQsMTQsNEMxNCw0LDE0LDQsMTQsNHoiLz48L3N2Zz4=');
}

.ml-subdirectory {
	background-image:  url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOTAgODIuMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgOTAgODIuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiMyODI4Mjg7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTgzLjMsODIuMkg2LjdjLTIuNiwwLTQuNy0yLTQuNy00LjVMMCwyOS4yYy0wLjEtMi43LDItNSw0LjctNWg4MC42YzIuNywwLDQuOCwyLjIsNC43LDVsLTIsNDguNkM4Ny45LDgwLjMsODUuOCw4Mi4yLDgzLjMsODIuMnogTTg1LjMsMjAuMkg0LjdWMy43YzAtMiwxLjctMy43LDMuNS0zLjdoMjguMWMwLjYsMCwxLjIsMC4yLDEuNSwwLjZMNDMuOSw2aDM3LjhjMiwwLDMuNSwxLjcsMy41LDMuN3YxMC41SDg1LjN6Ii8+PC9zdmc+');
}

.ml-directory-back p,
.ml-subdirectory p {
	padding-left: 40px;
	line-height: 30px;
}

.ml-toggle-directories {
    width: 130px;

    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.ml-toggle-directories:after {
	display: block;
	content: '+ Show Directories';
}

.ml-toggle-directories.expanded:after {
	content: '- Hide Directories';
}
/* @end */

/*
 *	Line that separates buttons from files
 */
.ml-divider {
	display: block;
	width: 100%;
	height: 2px;
	margin: 2.5rem 0 0.5rem;
	background-color: #282828;
}
/* @end */

/*
 *	Filter input field
 */
.ml-filter-files {
	float: right;
	width: 300px;
	margin-bottom: 1rem;
}
/* @end */

/*
 *	The files
 */
.ml-files{
	clear: both;
}

.ml-file {
	position: relative;
	width: 100%;
	background-color: #f5f5f5;
	padding: .8rem 1.9rem .8rem 0;
    border: .1rem solid #e6e6e5;
    border-width: .1rem 0;
    background-color: #f5f5f5;
}

.ml-file:nth-child(even) {
	background-color: transparent;
}

.ml-file:hover {
    background-color: #ececec;
}

/* Icons */
.ml-file [class*='icon-'] {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right: 1.5rem;
	margin-left: 1rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.ml-file .icon-avi {
	background-image: url('icons/icon-avi.svg');
}

.ml-file .icon-bmp {
	background-image: url('icons/icon-bmp.svg');
}

.ml-file .icon-css {
	background-image: url('icons/icon-css.svg');
}

.ml-file .icon-txt,
.ml-file .icon-rtf,
.ml-file .icon-doc,
.ml-file .icon-docx {
	background-image: url('icons/icon-doc.svg');
}

.ml-file .icon-eps {
	background-image: url('icons/icon-eps.svg');
}

.ml-file .icon-gif {
	background-image: url('icons/icon-gif.svg');
}

.ml-file .icon-jpeg,
.ml-file .icon-jpg {
	background-image: url('icons/icon-jpg.svg');
}

.ml-file .icon-mp3 {
	background-image: url('icons/icon-mp3.svg');
}

.ml-file .icon-mp4,
.ml-file .icon-webm {
	background-image: url('icons/icon-mp4.svg');
}

.ml-file .icon-pdf {
	background-image: url('icons/icon-pdf.svg');
}

.ml-file .icon-png {
	background-image: url('icons/icon-png.svg');
}

.ml-file .icon-rar {
	background-image: url('icons/icon-rar.svg');
}

.ml-file .icon-svg {
	background-image: url('icons/icon-svg.svg');
}

.ml-file .icon-xls,
.ml-file .icon-xlsx {
	background-image: url('icons/icon-xls.svg');
}

.ml-file .icon-xml {
	background-image: url('icons/icon-xml.svg');
}

.ml-file .icon-zip {
	background-image: url('icons/icon-zip.svg');
}
/* Icons end */

.ml-file p {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	overflow: hidden;
	white-space: nowrap;

	line-height: 30px;
	text-overflow: ellipsis;
}

.ml-file .name {
	width: calc(50% - 60px);

	font-weight: bold;
	text-transform: capitalize;
}

.ml-file .name span {
	font-weight: 400;
	text-transform: lowercase;
}

.ml-file .size {
	width: 150px;
	padding-left: 15px;
}

.ml-file a {
	position: absolute;
	top: 15px;
}

.ml-file a.active {
	z-index: 2;
}

.ml-file a.alts {
	right: 320px;
}

.ml-file a.tags {
	right: 255px;
}

.ml-file a.alts[data-alts]:hover:before,
.ml-file a.tags[data-tags]:hover:before {
	display: block;
	content: attr(data-tags);
	height: 30px;
	padding: 0 10px;
	background-color: rgba(0,0,0, 0.5);
	border-radius: 3px;
	box-shadow: 0 19px 38px rgba(0,0,0, 0.30), 0 5px 12px rgba(0,0,0, 0.22);
	white-space: nowrap;

	position: absolute;
	bottom: 100%;
	left: 50%;

	transform: translateX(-50%);

	font-size: 11px;
	line-height: 30px;
	color: #fff;
}

.ml-file a.alts[data-alts]:hover:before {
	content: attr(data-alts);
}

.ml-file a.alts.loading,
.ml-file a.tags.loading {
	color: rgba(63, 105, 165, 0.4);
}

.ml-file a.alts.loading:after,
.ml-file a.tags.loading:after {
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	background: url('icons/loader.svg') no-repeat 50% 50% / cover;

	position: absolute;
	top: -2px;
	right: 7px;
}

.ml-file a.alts input,
.ml-file a.alts button,
.ml-file a.tags input,
.ml-file a.tags button {
	margin: 0;
	padding: 0 5px;
	box-shadow: 0 19px 38px rgba(0,0,0, 0.30), 0 5px 12px rgba(0,0,0, 0.22);

	position: absolute;
    top: 50%;
    right: 72px;

    transform: translateY(-50%);
}

.ml-file a.alts input,
.ml-file a.tags input {
	width: 250px;
}

.ml-file a.alts button,
.ml-file a.tags button {
	border-radius: 0 3px 3px 0;

    right: 40px;
}

.ml-file a.preview {
	right: 180px;
}

.ml-file a.copy {
	right: 75px;
}

.ml-file a.copy + input {
    position: absolute;
    top: 17px;
    right: 140px;
}

.ml-file a.insert {
	right: 85px;
}

.ml-file a.delete {
	right: 10px;
	color: #e90a20;
}

.ml-file .meta {
	display: none;
}

@media (max-width: 1230px) {

	.ml-file .name {
		width: calc(40% - 60px);
	}
}

@media (max-width: 1024px) {

	.ml-file [class*='icon-'] {
		height: 20px;
	}

	.ml-file .name {
		width: calc(100% - 60px);
	}

	.ml-file .size {
		width: auto;
	}

	.ml-file .name + .size {
		padding-left: 60px;
	}

	.ml-file .name + .size:after {
		content: ', '
	}

	.ml-file a {
		top: inherit;
		bottom: 15px;
	}
}

@media (max-width: 570px) {

	.ml-file {

	}

	.ml-file p {
		line-height: 20px;
	}

	.ml-file p:not(.name) {
		display: block;
		padding-left: 60px;
	}

	.ml-file a:first-of-type {
		margin-left: 60px;
	}

	.ml-file a {
		position: static;
		display: inline-block;
		margin-top: 10px;
	}

	.ml-file a:after {
		display: inline-block;
		content: ', ';
	}

	.ml-file a.copy + input {
	    display: none;
	}
}
/* @end */

/*
 *	Content lightbox
 */
.ml-lightbox {
	width: 100%;
	height: 100%;
	background-color: rgba(34, 34, 34, 0.7);
	opacity: 0;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99991;

	transition: opacity 200ms ease-out;
}

.ml-lightbox:before,
.ml-lightbox:after {
	display: block;
	content: '';
	width: 30px;
	height: 2px;
	margin-top: -30px;
	background-color: #fff;
	cursor: pointer;
	opacity: 0;

	position: absolute;
	top: 10%;
	left: 50%;

	transition: opacity 200ms ease-out 200ms;
}


.ml-lightbox:before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.ml-lightbox:after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.ml-lightbox-content {
	width: 90%;
	/*max-width: 1024px;*/
	height: 80%;
	background: #fff url('icons/loader.svg') no-repeat 50% 50% / 30px 30px;
	overflow: auto;

	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 5%);

	transition: transform 200ms ease-out;
}

.ml-lightbox #contents {
	min-height: auto;
}

.ml-lightbox.is-visible {
	opacity: 1;
}

.ml-lightbox.is-visible:before,
.ml-lightbox.is-visible:after {
	opacity: 1;
}

.ml-lightbox.is-visible .ml-lightbox-content {
	background: #fff;
	transform: translate(-50%, -0%);
}

.ml-lightbox.is-visible .ml-lightbox-content.show-loader {
	background: #fff url('icons/loader.svg') no-repeat 50% 50% / 30px 30px;
}

/* Some Symphony styles override FilePond. These are fixes. */
.filepond--file-action-button.filepond--file-action-button {
	min-height: 0;
}

.filepond--file .filepond--processing-complete-indicator[data-align*='right'] {
	top: 0;
	right: 0;
}
