.field-medialibraryfield {
	position: relative;
}

.field-medialibraryfield,
.field-medialibraryfield * {
	cursor: pointer;
}

.field-medialibraryfield:after {
	display: block;
	content: '';
	clear: both;
}

.field-medialibraryfield label {
	margin-bottom: 0
}

.field-medialibraryfield label:after {
	display: block;
	content: '';
	width: 40px;
	height: 20px;
	background: url('icons/folder-search.svg') no-repeat 50% 50% / auto 14px;

	position: absolute;
	top: -2px;
	right: 45px;
	z-index: 1;
}

.field-medialibraryfield.required label:after {
	right: 0;
}

.field-medialibraryfield input {
	display: none;
	width: 55px;
}

.field-medialibraryfield .caption {
	display: block;
	color: #222;
	margin: 5px 0;
	padding: 3px 0;
	opacity: 0.5;
}

.field-medialibraryfield .invalid .caption {
	opacity: 1;
	color: rgba(255,255,255,.7);
}

.field-medialibraryfield .invalid > p {
	margin-top: 1em;
}

.field-medialibraryfield .preview {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	background: #f4f4f4;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
}

.field-medialibraryfield .preview img,
.field-medialibraryfield .preview audio,
.field-medialibraryfield .preview video {
	display: block;
	width: auto;
	max-width: 100%;
	height: 130px;
	margin: 0 auto;
}

.primary .field-medialibraryfield .preview img,
.primary .field-medialibraryfield .preview video {
	height: 230px;
}

.field-medialibraryfield .preview audio {
	width: 100%;
	height: 50px;
}

.field-medialibraryfield .preview p {
	margin: 0;
	padding: 5px 0;
}

.field-medialibraryfield .clear {
	display: none;
	margin: 5px 0 1.5em;
}

.field-medialibraryfield .preview + .clear {
	display: inline-block;
}

.field-medialibraryfield[data-allow-multiple] .preview {
	display: flex;
	flex-wrap: wrap;
}

.field-medialibraryfield[data-allow-multiple] .preview .item {
	position: relative;
    width: 24%;
    height: 55px;
    margin: 0.5%;
}

.field-medialibraryfield[data-allow-multiple] .preview .item:after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: url('icons/trash.svg') no-repeat 50% 50% / auto 20px;
	opacity: 0;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition: opacity 200ms ease-out;
}

.field-medialibraryfield[data-allow-multiple] .preview .item > * {
	opacity: 1;
	transition: opacity 200ms ease-out;
}

.field-medialibraryfield[data-allow-multiple] .preview .item:hover > * {
	opacity: 0.2;
}

.field-medialibraryfield[data-allow-multiple] .preview .item:hover:after {
	opacity: 1;
}

.field-medialibraryfield[data-allow-multiple] .preview .audio,
.field-medialibraryfield[data-allow-multiple] .preview .video {
    width: 100%;
    margin: 0.5% 0;
}

.field-medialibraryfield[data-allow-multiple] .preview .video {
	height: 150px;
}

.field-medialibraryfield[data-allow-multiple] .preview .other {
	width: 100%;
	height: auto;
	padding-top: 10px;
}

.field-medialibraryfield[data-allow-multiple] .preview .other:not(:last-child) {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.25);
}

.primary .field-medialibraryfield[data-allow-multiple] .preview .video {
	height: 230px;
}

.field-medialibraryfield[data-allow-multiple] .preview img,
.field-medialibraryfield[data-allow-multiple] .preview video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}





