.media-library {
	height: calc(100vh - 200px);
	padding: 1rem 1.8rem 0;
}

.media-library,
.media-library * {
	box-sizing: border-box;
}

.media-library fieldset {
	height: 100%;
}

/*
 *	no Uploads directory message
 */
.empty {
	width: 375px;
	max-width: 90%;
	margin: 0;
	padding: 1.5rem;
	background: #f5f5f5;
    border: .1rem solid #e6e6e5;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 127%;
	text-align: center;
}

/*
 *	The directory buttons
 */
.directory-back,
.subdirectory {
	height: 30px;
	margin: 0.5rem 0;
	background-color: #f4f4f4;
	background-position: 10px 50%;
	background-size: 15px auto;
	background-repeat: no-repeat;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
}

.directory-back {
	background-image:  url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTcgMTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE3IDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzI4MjgyODt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQsNEgzLjVsMi4yLTIuM2MwLjQtMC40LDAuNC0xLDAtMS40cy0xLTAuNC0xLjQsMGwtNCw0Yy0wLjQsMC40LTAuNCwxLDAsMS40bDQsNGMwLjQsMC40LDEsMC40LDEuNCwwczAuNC0xLDAtMS40TDMuNSw2SDE0YzAuNiwwLDEsMC40LDEsMWMwLDAsMCwwLDAsMC4xVjExYzAsMC42LDAuNCwxLDEsMWMwLjYsMCwxLTAuNCwxLTFWNy4xQzE3LDUuNCwxNS43LDQsMTQsNEMxNCw0LDE0LDQsMTQsNHoiLz48L3N2Zz4=');
}

.subdirectory {
	background-image:  url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOTAgODIuMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgOTAgODIuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiMyODI4Mjg7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTgzLjMsODIuMkg2LjdjLTIuNiwwLTQuNy0yLTQuNy00LjVMMCwyOS4yYy0wLjEtMi43LDItNSw0LjctNWg4MC42YzIuNywwLDQuOCwyLjIsNC43LDVsLTIsNDguNkM4Ny45LDgwLjMsODUuOCw4Mi4yLDgzLjMsODIuMnogTTg1LjMsMjAuMkg0LjdWMy43YzAtMiwxLjctMy43LDMuNS0zLjdoMjguMWMwLjYsMCwxLjIsMC4yLDEuNSwwLjZMNDMuOSw2aDM3LjhjMiwwLDMuNSwxLjcsMy41LDMuN3YxMC41SDg1LjN6Ii8+PC9zdmc+');
}

.directory-back p,
.subdirectory p {
	padding-left: 40px;
	line-height: 30px;
}

/*
 *	Line that separates buttons from files
 */
.divider {
	display: block;
	width: 100%;
	height: 2px;
	margin: 2.5rem 0 2rem;
	background-color: #282828;
}

/*
 *	The files
 */
/*.files * {
	box-sizing: border-box;
}*/

.file {
	position: relative;
	width: 100%;
	background-color: #f5f5f5;
	padding: .8rem 1.9rem .8rem 0;
    border: .1rem solid #e6e6e5;
    border-width: .1rem 0;
    background-color: #f5f5f5;
}

.file:nth-child(even) {
	background-color: transparent;
}

.file:hover {
    background-color: #ececec;
}

/* Icons */
.file [class*='icon-'] {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right: 1.5rem;
	margin-left: 1rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.file .icon-avi {
	background-image: url('icons/icon-avi.svg');
}

.file .icon-bmp {
	background-image: url('icons/icon-bmp.svg');
}

.file .icon-css {
	background-image: url('icons/icon-css.svg');
}

.file .icon-txt,
.file .icon-rtf,
.file .icon-doc,
.file .icon-docx {
	background-image: url('icons/icon-doc.svg');
}

.file .icon-eps {
	background-image: url('icons/icon-eps.svg');
}

.file .icon-gif {
	background-image: url('icons/icon-gif.svg');
}

.file .icon-jpeg,
.file .icon-jpg {
	background-image: url('icons/icon-jpg.svg');
}

.file .icon-mp3 {
	background-image: url('icons/icon-mp3.svg');
}

.file .icon-mp4,
.file .icon-webm {
	background-image: url('icons/icon-mp4.svg');
}

.file .icon-pdf {
	background-image: url('icons/icon-pdf.svg');
}

.file .icon-png {
	background-image: url('icons/icon-png.svg');
}

.file .icon-rar {
	background-image: url('icons/icon-rar.svg');
}

.file .icon-svg {
	background-image: url('icons/icon-svg.svg');
}

.file .icon-xls,
.file .icon-xlsx {
	background-image: url('icons/icon-xls.svg');
}

.file .icon-xml {
	background-image: url('icons/icon-xml.svg');
}

.file .icon-zip {
	background-image: url('icons/icon-zip.svg');
}
/* Icons end */

.file p {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;

	line-height: 30px;
}

.file .name {
	width: calc(33% - 55px);
	overflow: hidden;
	white-space: nowrap;

	font-weight: bold;
	text-transform: capitalize;
	text-overflow: ellipsis;
}

.file .name span {
	font-weight: 400;
	text-transform: lowercase;
}

.file .size {
	width: 15%;
	padding-left: 15px;
}

.file a {
	position: absolute;
	top: 15px;
}

.file a.preview {
	right: 200px;
}

.file a.copy {
	right: 75px;
}

.file a.delete {
	right: 10px;
	color: #e90a20;
}
